[project]
	description = Spring Boot
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Felipe Santos (felipemsantos)
[access "refs/for/refs/*"]
	read = group user/Felipe Santos (felipemsantos)
	push = group user/Felipe Santos (felipemsantos)
	label-Code-Review = -2..+2 group user/Felipe Santos (felipemsantos)
	label-Verified = -1..+1 group user/Felipe Santos (felipemsantos)
	rebase = group user/Felipe Santos (felipemsantos)
	removeReviewer = group user/Felipe Santos (felipemsantos)
	submit = group user/Felipe Santos (felipemsantos)
[access "refs/heads/*"]
	read = group user/Felipe Santos (felipemsantos)
	create = group user/Felipe Santos (felipemsantos)
	push = +force group user/Felipe Santos (felipemsantos)
	pushMerge = group user/Felipe Santos (felipemsantos)
[access "refs/tags/*"]
	push = +force group user/Felipe Santos (felipemsantos)
	pushTag = group user/Felipe Santos (felipemsantos)
	pushSignedTag = group user/Felipe Santos (felipemsantos)
